@font-face {
  font-family: "Fira Sans", sans-serif;
  src: url("../fonts/FiraSans-Regular.woff") format("woff");
  src: url("../fonts/FiraSans-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}
